extend ../../../../components/layout/templates/index
include ../../../../components/paginated_list/index

block header
  | Curations

block content
  .max-width-container
    +paginated-list(page, totalPages, curations.toPaginatedListItems(), null,'curations')
